In [274]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [275]:
train_df = pd.read_csv('../train/train_user.csv', encoding='utf-8')
test_df = pd.read_csv('../test/test_user.csv', encoding = 'utf-8')

In [276]:
train_df['exist_null'] = train_df['arpu_202003'].isnull().astype(np.int64)
test_df['exist_null'] = test_df['arpu_202004'].isnull().astype(np.int64)

In [277]:
train_df['_arpu'] = train_df['arpu_202003']
test_df['_arpu'] = test_df['arpu_202004']

In [278]:
df = pd.concat([train_df,test_df], axis = 0).reset_index(drop = True)

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [279]:
df

,_arpu,arpu_201908,arpu_201909,arpu_201910,arpu_201911,arpu_201912,arpu_202001,arpu_202002,arpu_202003,arpu_202004,city_name,county_name,exist_null,idcard_cnt,label,phone_no_m
0,45.0,46.06,45.00,45.0,45.00,45.00,45.0,45.0,45.0,NaN,绵阳,江油分公司,0,1,0.0,672ddbf02a5544d32e4ecc9433b1981bffe23bf912273a...
1,60.0,79.00,79.20,79.1,79.30,41.40,34.1,59.4,60.0,NaN,德阳,旌阳分公司,0,1,0.0,5e1272273e041e82cb275ae877710be98cdaf5b0a8f34d...
2,63.0,18.85,24.45,22.0,21.40,22.15,21.1,61.3,63.0,NaN,成都,金堂分公司,0,2,0.0,eaab3472ec87b076e69e6e8bb62b14341638fc63661a6c...
3,23.2,19.20,29.65,130.4,173.12,19.00,19.0,19.0,23.2,NaN,成都,高新分公司,0,2,0.0,0ce1bb415704178bf44e9c9b431a39b083a132c8e6d99f...
4,50.0,50.00,50.00,50.0,50.00,50.00,50.0,50.0,50.0,NaN,德阳,旌阳分公司,0,1,0.0,28b87f35f63f65096a53e3a4c97eaffd4a6c43ffa7e92d...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8146,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,绵阳,三台分公司,0,1,NaN,b544be7faeb565e3b25b2624121b6fbb188dd783304054...
8147,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,雅安,石棉分公司,0,1,NaN,8f8220d7b20f8a7d92a443c97f2276b4d62f7d058cb172...
8148,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,自贡,自井分公司,0,1,NaN,2390f521ad86b31fa73e8e6395817a8c447ce077796c79...
8149,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,自贡,贡井分公司,0,5,NaN,15a2d650f7a7a24b3e8dfdd5e59dc251cb3043f290fcaf...
8150,1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.1,绵阳,江油分公司,0,1,NaN,08923b36132be7e0e4739794aa9af2c4ca896dc789e320...

In [280]:
# df['_arpu'] = np.max(df.iloc[:,1:10], axis = 1)
df.drop(df.columns[1:10],axis = 1, inplace=True)

In [281]:
# df['arpu_null'] = df['_arpu'].isnull().astype(np.int32)
df['arpu_high'] = (df['_arpu']>300).astype(np.int64)

In [282]:
cat_features = ['city_name','county_name']
df[cat_features] = df[cat_features].fillna('缺失')
# Label Encoding
# le = LabelEncoder()
# for feature in cat_features:
#     df[feature] = le.fit_transform(df[feature])
    
## Onehot Encoding
df = pd.concat([df,pd.get_dummies(df[cat_features])],axis=1)
df.drop(cat_features, axis = 1, inplace = True)

In [283]:
df.head()

,_arpu,exist_null,idcard_cnt,label,phone_no_m,arpu_high,city_name_乐山,city_name_内江,city_name_凉山,city_name_南充,...,county_name_顺庆分公司,county_name_马尔康县分公司,county_name_马边分公司,county_name_高县分公司,county_name_高坪分公司,county_name_高新分公司,county_name_高新区分公司,county_name_高新西区分公司,county_name_龙泉驿分公司,county_name_龙马潭分公司
0,45.0,0,1,0.0,672ddbf02a5544d32e4ecc9433b1981bffe23bf912273a...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,60.0,0,1,0.0,5e1272273e041e82cb275ae877710be98cdaf5b0a8f34d...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,63.0,0,2,0.0,eaab3472ec87b076e69e6e8bb62b14341638fc63661a6c...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,23.2,0,2,0.0,0ce1bb415704178bf44e9c9b431a39b083a132c8e6d99f...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,50.0,0,1,0.0,28b87f35f63f65096a53e3a4c97eaffd4a6c43ffa7e92d...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [284]:
voc_df = pd.read_csv('./voc_submit.csv', encoding = 'utf-8')
sms_df = pd.read_csv('./sms_submit.csv', encoding = 'utf-8')
app_df = pd.read_csv('./app_submit.csv', encoding = 'utf-8')

In [285]:
voc_df.head()

,phone_no_m,voc_opposite_count,voc_opposite_unique,voc_opposite_mean,voc_opposite_max,voc_calltype_1,voc_imeis,voc_calltype1_per_oppo,voc_city_unique,voc_county_unique,...,voc_county_马尔康县,voc_county_马边彝族自治县,voc_county_高县,voc_county_高坪区,voc_county_高新区,voc_county_高新南区,voc_county_高新西区,voc_county_黑水县,voc_county_龙泉驿区,voc_county_龙马潭区
0,e74091a7f55e5df0b8dfc10538025b3648c16cc1491434...,1,1,1.0,1,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,39456e1e101705250790d5f2d4409f31cf185f8da3e6a4...,1,1,1.0,1,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,97577045f480a3d6c6c6f0ddb74ce02f880939dd8df5b0...,2,2,1.0,1,2.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,7fe7ab2ef4be21b9cfd1c402fc1fdf4dc1359227d87ce8...,1,1,1.0,1,1.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,514cb3f69a19736137f6815af247cc661add1b467b1370...,4,2,2.0,3,4.0,1.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [286]:
sms_df.head()

,phone_no_m,sms_count,sms_nunique,sms_rate,calltype_2,calltype_rate,hour_mode,hour_nunique,day_mode,day_nunique,sms_hour_mode,sms_hour_mode_count,sms_hour_count,sms_day_mode,sms_day_mode_count,sms_day_count,sms_call_called_rate,sms_request_count_max,sms_request_count_min,sms_request_count_mean
0,9f86346d730b8834c8b910e50e5ca63dcfc72d61670267...,63,11,5.727273,62.0,0.984127,14,11,22,8,14,43,11,22,42,8,0.031746,11,1,2.100000
1,59226c0b70f4c51943dac2f079caa0696cb8eb5007cbd9...,313,101,3.099010,307.0,0.980831,16,10,5,6,16,253,10,5,250,6,0.022727,13,1,1.449074
2,d676fac5508cbc96fcf97f44b8536ac47a285f78b989a3...,25,6,4.166667,25.0,1.000000,17,2,19,1,17,18,2,19,25,1,0.038462,5,1,2.083333
3,e65781268dca2c173d593cfab4c6de4be00aa0f8926238...,1,1,1.000000,NaN,NaN,3,1,5,1,3,1,1,5,1,1,2.000000,1,1,1.000000
4,207a8f04c4054de9db37e25a740ff6e7a8e912527ee22b...,25,3,8.333333,25.0,1.000000,12,6,1,6,12,6,6,1,8,6,0.038462,6,2,3.125000

In [287]:
app_df.head()

,phone_no_m,flow,flow_null,flow_min,flow_mean,flow_max,flow_per_month,flow_per_app,app_unique,DNS,...,QiXiuZhiBo,铃声多多,寻医问药,Windows更新,咪咕音乐,ChinaDaily,AdView,中关村在线,美柚,疯狂猜图
0,00073ceecc0f7220a440580ac5dea410c90d14b6669458...,398.461888,0,0.000072,8.301289,203.986202,398.461888,9.266556,42,1,...,0,0,0,0,0,0,0,0,0,0
1,000f0f3100d815774e51f504a43e636dee84449da1c2c4...,3105.527115,0,0.001053,13.271483,1122.193042,3105.527115,15.605664,198,1,...,0,0,0,0,0,0,0,0,0,0
2,001285c54745996ac4705eca7713d73de7921edf4133a6...,0.000000,1,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,...,0,0,0,0,0,0,0,0,0,0
3,00281f7b748b9a009ab86a9da317856efdde8b1fc64388...,67.179778,0,0.000290,1.221451,30.974692,67.179778,1.291919,51,1,...,0,0,0,0,0,0,0,0,0,0
4,0034030646f2008d36431e00b133db30efc8b0c31757f3...,441.650370,0,0.000074,6.400730,207.131264,441.650370,6.794621,64,1,...,0,0,0,0,0,0,0,0,0,0

In [288]:
df = pd.merge(df, voc_df, how = 'left',on = 'phone_no_m')
df = pd.merge(df, sms_df, how = 'left',on = 'phone_no_m')
df = pd.merge(df, app_df, how = 'left',on = 'phone_no_m')

In [289]:
null_feature = df.columns[df.isnull().any()].tolist()
for feature in null_feature:
    df[feature].fillna(0, inplace = True)

In [290]:
df

,_arpu,exist_null,idcard_cnt,label,phone_no_m,arpu_high,city_name_乐山,city_name_内江,city_name_凉山,city_name_南充,...,QiXiuZhiBo,铃声多多,寻医问药,Windows更新,咪咕音乐,ChinaDaily,AdView,中关村在线,美柚,疯狂猜图
0,45.0,0,1,0.0,672ddbf02a5544d32e4ecc9433b1981bffe23bf912273a...,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,60.0,0,1,0.0,5e1272273e041e82cb275ae877710be98cdaf5b0a8f34d...,0,0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,63.0,0,2,0.0,eaab3472ec87b076e69e6e8bb62b14341638fc63661a6c...,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,23.2,0,2,0.0,0ce1bb415704178bf44e9c9b431a39b083a132c8e6d99f...,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,50.0,0,1,0.0,28b87f35f63f65096a53e3a4c97eaffd4a6c43ffa7e92d...,0,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8146,62.0,0,1,0.0,b544be7faeb565e3b25b2624121b6fbb188dd783304054...,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8147,62.0,0,1,0.0,8f8220d7b20f8a7d92a443c97f2276b4d62f7d058cb172...,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8148,20.0,0,1,0.0,2390f521ad86b31fa73e8e6395817a8c447ce077796c79...,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8149,21.0,0,5,0.0,15a2d650f7a7a24b3e8dfdd5e59dc251cb3043f290fcaf...,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8150,1.1,0,1,0.0,08923b36132be7e0e4739794aa9af2c4ca896dc789e320...,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [291]:
df.drop(['phone_no_m'],axis = 1,inplace = True)

In [292]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
for feature in df.columns:
    df[feature] = scaler.fit_transform(np.array(df[feature]).reshape(-1,1))

In [293]:
train_df = df.iloc[:len(train_df),:]
test_df = df.iloc[len(train_df):,:]

In [294]:
## 特征工程之后的训练集和测试集导出
train_df.to_csv('./train_df.csv', encoding='utf-8',index = None)
test_df.to_csv('./test_df.csv', encoding='utf-8', index = None)

In [295]:
train_df['label'].describe()

count    6106.000000
mean        0.321323
std         0.467023
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: label, dtype: float64

In [296]:
train_df.head()

,_arpu,exist_null,idcard_cnt,label,arpu_high,city_name_乐山,city_name_内江,city_name_凉山,city_name_南充,city_name_天府新区,...,QiXiuZhiBo,铃声多多,寻医问药,Windows更新,咪咕音乐,ChinaDaily,AdView,中关村在线,美柚,疯狂猜图
0,0.023111,0.0,0.076923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.026356,0.0,0.076923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.027005,0.0,0.153846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.018395,0.0,0.153846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.024192,0.0,0.076923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [297]:
import xgboost as xgb
from xgboost import plot_importance
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [298]:
train_x, val_x, train_y, val_y = train_test_split(train_df.drop(['label'], axis = 1), train_df['label'], test_size = 0.1, random_state = 777)

In [305]:
dtrain = xgb.DMatrix(train_x,label=train_y)
dval =xgb.DMatrix(val_x, label = val_y)

In [306]:
params = {'booster':'gbtree',
         'objective':'binary:logistic',
         'eval_metric':'auc',
         'max_depth':3,
         'min_child_weight':7,########
         'gamma':7,
         'subsample':0.8,
         
         'colsample_bytree':0.9,
         'colsample_bylevel':0.8,
         'lambda':1,
         'eta':0.1,
         'tree_method':'exact',
         'seed':72,
         'nthread':4,
         'scale_pos_weight': 3
         }

In [313]:
# ###调参用
for i in np.arange(2,11,1):
    params['max_depth'] = i
    model = xgb.train(params,dtrain,evals = watchlist,early_stopping_rounds=300,num_boost_round=10000,verbose_eval=0)
    y_pred_pro = model.predict(dval)
    p, f1 = best_f1(val_y, y_pred_pro)
    print(i, f1)

2 0.9332712321726842
3 0.9311983424543386
4 0.930519680946115
5 0.9314181074155675
6 0.9323921476737222
7 0.9349196461136735
8 0.930975382241775
9 0.9284152151839411
10 0.9344899848920514

In [309]:
watchlist = [(dtrain,'train'),(dval, 'eval')]

In [310]:
model = xgb.train(params,dtrain,evals = watchlist,early_stopping_rounds=300,num_boost_round=10000)

[0]	train-auc:0.88547	eval-auc:0.87968
Multiple eval metrics have been passed: 'eval-auc' will be used for early stopping.

Will train until eval-auc hasn't improved in 300 rounds.
[1]	train-auc:0.90224	eval-auc:0.89505
[2]	train-auc:0.92623	eval-auc:0.92798
[3]	train-auc:0.93166	eval-auc:0.93142
[4]	train-auc:0.93278	eval-auc:0.93101
[5]	train-auc:0.93570	eval-auc:0.93278
[6]	train-auc:0.93943	eval-auc:0.93496
[7]	train-auc:0.94002	eval-auc:0.93538
[8]	train-auc:0.94276	eval-auc:0.93485
[9]	train-auc:0.94340	eval-auc:0.93467
[10]	train-auc:0.94398	eval-auc:0.93505
[11]	train-auc:0.94454	eval-auc:0.93662
[12]	train-auc:0.94504	eval-auc:0.93574
[13]	train-auc:0.94535	eval-auc:0.93566
[14]	train-auc:0.94745	eval-auc:0.93660
[15]	train-auc:0.94788	eval-auc:0.93644
[16]	train-auc:0.94839	eval-auc:0.93621
[17]	train-auc:0.94850	eval-auc:0.93654
[18]	train-auc:0.94905	eval-auc:0.93669
[19]	train-auc:0.94908	eval-auc:0.93720
[20]	train-auc:0.94945	eval-auc:0.93809
[21]	train-auc:0.95039	eval-auc:0.93837
[22]	train-auc:0.95081	eval-auc:0.93836
[23]	train-auc:0.95107	eval-auc:0.93824
[24]	train-auc:0.95163	eval-auc:0.93958
[25]	train-auc:0.95191	eval-auc:0.93981
[26]	train-auc:0.95298	eval-auc:0.94072
[27]	train-auc:0.95347	eval-auc:0.94252
[28]	train-auc:0.95393	eval-auc:0.94290
[29]	train-auc:0.95469	eval-auc:0.94316
[30]	train-auc:0.95543	eval-auc:0.94232
[31]	train-auc:0.95605	eval-auc:0.94253
[32]	train-auc:0.95640	eval-auc:0.94216
[33]	train-auc:0.95681	eval-auc:0.94260
[34]	train-auc:0.95743	eval-auc:0.94273
[35]	train-auc:0.95792	eval-auc:0.94302
[36]	train-auc:0.95834	eval-auc:0.94356
[37]	train-auc:0.95894	eval-auc:0.94372

KeyboardInterrupt:

In [301]:
# model.get_score()

In [302]:
def best_f1(val_y,y_pred_pro):
    f1_list = []
    threshold = np.arange(0.4,0.9,0.01)
    for i in threshold:
        y_pred = (y_pred_pro >= i) * 1
        f1 = metrics.f1_score(val_y,y_pred,average='macro')
        f1_list.append(f1)
    index = np.argmax(f1_list)
    best_f1 = max(f1_list)
    return threshold[index], best_f1

In [263]:
y_pred_pro = model.predict(dval)

In [264]:
p, f1 = best_f1(val_y, y_pred_pro)

In [265]:
print(p,f1)

0.7700000000000004 0.9302868394201272

In [266]:
test_df.drop(['label'], axis = 1,inplace = True)

F:\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [267]:
test_df.columns[test_df.isnull().any()]

Index([], dtype='object')

In [268]:
dtest = xgb.DMatrix(test_df, label =None)

In [269]:
y_pred = model.predict(dtest)
y_pred = (y_pred >=p) * 1

In [272]:
y_pred = pd.DataFrame(y_pred)
y_pred.to_csv('./submit.csv',encoding = 'utf-8')

In [273]:
y_pred

      0
0     0
1     1
2     0
3     1
4     0
...  ..
2040  0
2041  0
2042  0
2043  0
2044  1

[2045 rows x 1 columns]